* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    font-family: 'Roboto Condensed', sans-serif;
}

nav div {
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-size: 32px;
    color: rgb(143, 143, 143);
}

nav div strong {
    color: #000;
}

nav div img{
    width: 42px;
}

nav ul {
    display: flex;
    margin-right: 24px;
    list-style: none;
    font-size: 22px;
}

nav ul a {
    text-decoration-line: none;
    margin-left: 24px;
    color: #000;
}

nav ul a:hover {
    color: cadetblue;
}
/* END OF NAV STYLES */

header {
    display: flex;
    align-items: center;
    background-color: rgba(95, 158, 160, 0.30);
}

header .header-col-1 {
    width: 60%;
    padding: 32px 24px;
}

header .header-col-1 img {
    width: 100%;
    height: auto;
}

header .header-col-2 {
    width: 40%;
    max-width: 550px;
    padding: 32px 24px;
}

header .header-col-2 h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 64px;
}

header .header-col-2 p {
    font-size: 24px;
}

header .header-col-2 button {
    width: 100%;
    background-color: #333;
    color: white;
    margin: 32px 0;
    padding: 8px;
    font-size: 24px;
    letter-spacing: 3px;
}

header .header-col-2 button:hover {
    cursor: pointer;
    background-color: cadetblue;
}
/* END HEADER STYLES */
 
main {
    display: grid;
    grid-template-columns: 60% 40%;
}

main .main-col-1 {
    margin: 32px 24px;
}

main .main-col-1 figure img {
    width: 100%;
    height: auto;
}

main .main-col-1 figure h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    margin: 32px 0 24px 0   ;
}
main .main-col-1 figcaption {
    margin-top: 32px;
    font-size: 18px;
    color: gray;
}

/* Main Col-2 */
main .main-col-2 {
    border-left: .8px solid rgb(192, 192, 192); 
}

main .main-col-2 .card {
    display: flex;
    align-items: center;
    border-bottom: .8px solid rgb(192, 192, 192);
    padding: 32px 16px;
}

main .main-col-2 .card:hover {
    background-color: #dfe0e5;
}

main .main-col-2 .card .card-img {
    width: 35%;
}

main .main-col-2 .card .card-img img {
    width: 100%;
    height: auto;
}

main .main-col-2 .card .card-info {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 24px;
}

main .main-col-2 .card .card-info h4, p, a {
    margin-bottom: 8px;
}

main .main-col-2 .card .card-info p {
    font-size: 18px;
}

main .main-col-2 .card .card-info a {
    font-size: 16px;
    text-decoration: none;
    color: royalblue;
}
/* END OF MAIN STYLES */

.courses {
    display: grid;
    justify-content: center;
    justify-items: center;
/*  grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
 */ grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 32px 72px;
    background-color: rgb(245, 245, 245);
}

.courses .course-card {
    background-color: #fff;
    padding-bottom: 24px;
}

.courses h2 {
    grid-area: 1/1/2/4;
    margin: 32px 0px;
}

.courses .course-card h5, 
.courses .course-card p, 
.courses .course-card figcaption {
    margin-left: 16px;
    margin-bottom: 8px;
}

.courses .course-card h5 {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 16px;
}

.courses .course-card p, figcaption {
    font-size: 18px;
}

.courses .course-card img {
    width: 100%;
    height: auto;
}
/* END OF COURSES SECTION */

.thesis-section {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 90%;
    justify-items: center;
    border-bottom: .8px solid rgb(192, 192, 192);
    padding-bottom: 32px;
}

.thesis-section h2 {
    grid-area: 1/1/2/3;
    margin: 32px 0;
}

.thesis-section .thesis-section-col-1 {
    grid-area: 2/1/3/2;
    margin: 16px 24px;
}

.thesis-section-col-1 figure video {
    width: 100%;
    height: auto;
}

.thesis-section-col-1 figure h3 {
    font-size: 42px;
    margin: 32px 0;
}

.thesis-section .thesis-section-col-2 {
    grid-area: 2/2/3/3;
}

.thesis-section .thesis-section-col-2 .card {
    display: flex;
    padding: 16px;
}

.thesis-section .thesis-section-col-2 .card-img {
    width: 35%;
    margin-right: 16px;
}

.thesis-section .thesis-section-col-2 .card-img img {
    background-color: #bbb5b580;
    width: 100%;
    height: auto;
}

.thesis-section .thesis-section-col-2 .t-card-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis-section .thesis-section-col-2 .card:hover {
    background-color: #dfe0e5;
}


.thesis-section .thesis-section-col-2 .t-card-info p {
    font-size: 18px;
    margin-top: 8px;
}
/* END OF THESIS SECTION */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 24px 32px 24px;
    font-size: 16px;
    color: #636363;
}

footer div {
    display: flex;
}

footer div p {
    margin-left: 16px;
}